<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration</title>
</head>

<body>
  <div class="container">

    <div style="padding-left: 10%;" class="col-6-sm">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 style="padding-left: 15%;">Add Town section</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <form action="/add_town" method="POST">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Add Town</span>
                </div>
                <input type="text" name="town_name" aria-label="First name" class="form-control" placeholder="town name"
                  required>
                <input type="text" onkeyup="this.value = this.value.toUpperCase();" name="city_tag"
                  aria-label="Last name" class="form-control" placeholder="city tag" required>
              </div>
              <div style="padding-top: 2%;padding-left:16%">
                <button type="submit" class="btn btn-success">Add town</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

    {{!-- intersection --}}
    <div style="padding-left: 20%;" class="col-6-sm">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>{{title}}</h1>
          </div>
        </div>
        {{!-- input section --}}
        <div class="row">
          <div class="col-6">
            <form action="/add" method="POST">
              <input data-toggle="tooltip" title="Example: CA 123 123" type="text"
                onkeyup="this.value = this.value.toUpperCase();" pattern="[A-Z]{2}\s[0-9]{3}\s[0-9]{3}" class="form-control" name="reg_plate"
                placeholder="Registration-number" >
              <div style="padding-top: 3%;">
                <button type="submit" class="btn btn-success">Add plate number</button>
              </div>
            </form>
            <form action="/filter" method="POST">
              <div style="padding-top: 10%;">
                <select class="custom-select custom-select-sm city" name="town">
                  <option selected value="0">Select Town</option>
                  {{#each drop_down}}
                  <option class="city" value="{{id}}">{{town}}</option>
                  {{/each}}
                </select>
              </div>
              <div style="padding-top: 3%;">
                <button type="submit" class="btn btn-success town">Show</button>
              </div>
            </form>
            <p style="padding-left: 10%;" class="errors">{{error_message}}</p>
            <p style="padding-left: 10%;" class="success">{{success_messsage}}</p>
          </div>
          <form action="/delete" method="get">
            <div style="padding-top: 40%;">
              <button class=" btn btn-outline-danger" type="submit">
                Reset-plates
              </button>
            </div>
          </form>
          <br>
          <form action="/delete_towns" method="get">
            <div style="padding-top: 40%;padding-left:%">
              <button class=" btn btn-outline-danger" type="submit">
                Reset-towns
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div style="padding-left: 32%;" id="plates_list" class="col-12 justify-content-md-center plates_list">
    <div class="container">
      <div class="row">
        <div class="col-5">
          {{#each plates}}
          <li>{{plate_numbers}}</li>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

</body>

</html>